# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints
.virtual_documents

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.DS_Store
*.svg
*.sublime-workspace
*.png
*.pdf
results/*
notebooks/e_coli/archive
notebooks/paczia_et_al_2013/e_coli/ecoli_costless_test_.json
notebooks/paczia_et_al_2013/e_coli/e_coli_transporters.csv
notebooks/paczia_et_al_2013/e_coli/archive/*
notebooks/dFBA_191123/biomass_1.csv
notebooks/dFBA_191123/media_1.csv
notebooks/ttest_results.csv
notebooks/ecoli_rates.csv
notebooks/rates_and_values.csv
notebooks/sintef_2023/sintef_2023_rates_0824.csv
notebooks/ecoli_rates.csv
notebooks/ecoli_rates.csv
notebooks/rates_and_values.csv
notebooks/rates_and_values.csv
notebooks/paczia_et_al_2013/paczia_13_rates_yeast_0824.csv
notebooks/paczia_et_al_2013/paczia_13_rates_ecoli_0824_withiJO1366.csv
notebooks/paczia_et_al_2013/paczia_13_rates_ecoli_0824.csv
notebooks/paczia_et_al_2013/paczia_13_rates_ecoli_130524.csv
notebooks/ecoli_rates.csv
notebooks/paczia_et_al_2013/paczia_13_rates_ecoli_130524.csv
notebooks/ecoli_rates.csv
notebooks/rates_and_values.csv



# Sequencing data
data/isolate_sequencing/
data/references_sequencing/
data/meta_sequencing

# Workflow logs
code/isolate_sequncing/.snakemake/
code/meta_sequencing/.snakemake/

# Cluster logs
code/isolate_sequncing/slurm*