body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff00;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: left;
}

.dropdown {
    margin: 10px 0;
    padding-top: 10px;
    border-top: 1px solid #dee2e6;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
